%h3 Logs

%table#logs.table
  %thead
    %th Msg
    %th Metadata
  - Log.all.each do |l|
    %tr
      %td= l.message
      %td
        - JSON.parse(l.metadata).each do |k, v|
          .metadata-item
            .key= k
            .value= v
