%h3 Logs

%table#logs.table
  %thead
    %th Date
    %th Msg
  - @logs.each do |l|
    %tr.log-item
      - time = l.created_at
      - time &&= time.strftime('%c')
      %td= time
      %td
        .pull-left
          = l.message
        .pull-right
          - metadata = l.metadata
          - metadata &&= JSON.parse(metadata)
          - if metadata && !metadata.empty?
            %a.show-metadata{ :href => '#' } Metadata
        .clearfix

        .metadata
          - JSON.parse(l.metadata).each do |k, v|
            .metadata-item
              .key= k
              .value= v
