%h3 Logs

%table#logs.table
  %thead
    %th Date
    %th Msg
  - Log.all.each do |l|
    %tr.log-item
      %td= l.created_at
      %td
        .pull-left
          = l.message
        .pull-right
          %a.show-metadata{ :href => '#' } Metadata
        .clearfix

        .metadata
          - JSON.parse(l.metadata).each do |k, v|
            .metadata-item
              .key= k
              .value= v
