!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %title Riddlegate

    %link{:href => "/assets/application.css", :rel => "stylesheet"}
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "/"} Riddlegate
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "/"} Home
              %li
                %a{:href => "/settings"} Settings
              %li
                %a{:href => "/logs"} Logs
      .row
        .col-lg-6
          = yield
